*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    background-color: black;
    height: 90%;
    /* overflow: hidden; */
}

.bordo{
    background-color: #222222;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

header{
    position: fixed;
    z-index: 10;
    width: 100%;
}

header h5, header span{
    color: #ffffff;
    background-color: #4a4a4a;
    margin-right: 5px;
    margin-top: 5px;
    border-radius: 5px;
    padding: 5px;
}

.container main{
    background-color: black;
    margin: 0 auto;
    padding-top: 60px;
    width: 90%;
}

img{
    width: 100%;
    display: block;
}

.immagini{
    width: 240px;
}

.immagini span{
    color: #ffffff;
    background-color: #222222;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.position-relative{
    position: relative;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 5px;
}

.container main section{
    margin-top: 10px;
}

footer{
    background-color: #222222;
    color: #ffffff;
    padding-top: 10px; 
    height: 10%;
    width: 100%;
    position: fixed;
    z-index: 10;
    bottom: 0;
}


.flex-space{
    display: flex;
    justify-content: space-between;
}

.icon{
    display: flex;
    align-items: center;
    text-align: center;
    margin-top: 5px;
}

.icon div{
    margin-right: 10px;
}

.icon div p{
    font-size: 0.8em;
}

#exit{
    color: red;
    cursor: pointer;
    background-color: #4a4a4a;
    
}

#exit div p{
    text-align: center;
}


/* .flex-column{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.flex-footer{
    display: flex;
    align-items: center;
    gap: 20px;
} */